<template name="CacaoLinks">
  
  <!-- CULTURAL MANAGEMENT PRACTICES -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Cultural Management Practices
      </h2>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/industry">
            <center>
            <img src="/img/crops/cacao/icons/industry.png" alt="" border="0">
            <br>INDUSTRY
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/preparation">
            <center>
            <img src="/img/crops/cacao/icons/preparation.png" alt="" border="0">
            <br>PREPARATION
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/varieties">
            <center>
            <img src="/img/crops/cacao/icons/varieties.png" alt="" border="0">
            <br>VARIETIES
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/management">
            <center>
            <img src="/img/crops/cacao/icons/management_practices.png" alt="" border="0">
            <br>MANAGEMENT<br>PRACTICES
            </center>
          </a>
        </div>
      </div>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/pest-management">
            <center>
            <img src="/img/crops/cacao/icons/pest.png" alt="" border="0">
            <br>PEST<br>MANAGEMENT
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/water-management">
            <center>
            <img src="/img/crops/cacao/icons/water_management.png" alt="" border="0">
            <br>WATER<br>MANAGEMENT
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/harvesting">
            <center>
            <img src="/img/crops/cacao/icons/harvesting.png" alt="" border="0">
            <br>HARVESTING
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- POSTHARVEST AND PROCESSING -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Postharvest and Processing
      </h2>

      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/cacao/processing">
            <center>
            <img src="/img/crops/cacao/icons/processing.png" alt="" border="0">
            <br>PROCESSING
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- MONITORING AND FORECASTING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Monitoring and Forecasting
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="http://159.203.253.31/suitability-maps/cacao">
        <center>
        <img src="/img/crops/suitability_maps.png" alt="" border="0">
        <br>SUITABILITY<br>MAPS
        </center>
      </a>
    </div>

  </div>

</template>