<template name="MonitoringCharts">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#10-day-forecast" aria-controls="10-day-forecast" role="tab" data-toggle="tab">10-Day Forecast</a></li>
      <li role="presentation"><a href="#accumulated-rainfall" aria-controls="accumulated-rainfall" role="tab" data-toggle="tab">Accumulated Rainfall</a></li>
      <li role="presentation"><a href="#past-years-data" aria-controls="past-years-data" role="tab" data-toggle="tab">Past Year's Data</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="10-day-forecast">
        <br>
        <div id="meteogram-container">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="accumulated-rainfall">...</div>
      <div role="tabpanel" class="tab-pane" id="past-years-data">...</div>
    </div>

  </div>
</template>
