<template name="BananaLinks">
  
  <!-- CULTURAL MANAGEMENT PRACTICES -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Cultural Management Practices
      </h2>

      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/uri-ng-pananim">
            <center>
            <img src="/img/crops/banana/icons/plantingbanana.png" alt="" border="0">
            <br>URI NG PANANIM
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/layouting">
            <center>
            <img src="/img/crops/banana/icons/land_preparationbanana.png" alt="" border="0">
            <br>LAYOUTING
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/pagaabono">
            <center>
            <img src="/img/crops/banana/icons/fertilizer.png" alt="" border="0">
            <br>PAG-AABONO
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/pagpapatubig">
            <center>
            <img src="/img/crops/banana/icons/watering-can.png" alt="" border="0">
            <br>PAGPAPATUBIG
            </center>
          </a>
        </div>
      </div>

      <div class="row">
        
        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/pangangasiwa">
            <center>              
            <img src="/img/crops/banana/icons/pest.png" alt="" border="0">
            <br>PANGAGASIWA NG<br>PESTE AT SAKIT
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/pagtatanggal-suwi">
            <center>
            <img src="/img/crops/banana/icons/seedling.png" alt="" border="0">
            <br>PAGTATANGGAL NG<br>SUWI
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/banana/pangangalaga-bunga">
            <center>
            <img src="/img/crops/banana/icons/harvestingbanana.png" alt="" border="0">
            <br>PANGANGALAGA NG<br>BUNGA              
            </center>
          </a>
        </div>

      </div>

  </div>

  <!-- MONITORING AND FORECASTING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Monitoring and Forecasting
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="http://159.203.253.31/suitability-maps/banana">
        <center>
        <img src="/img/crops/suitability_maps.png" alt="" border="0">
        <br>SUITABILITY<br>MAPS
        </center>
      </a>
    </div>

  </div>

</template>