<template name="RainfallOutlook">
  
  <div class="divider"></div>

  <div class="card">
    <div class="card-block text-nowrap">
      <div class="text-center">
        <h1>Rainfall Outlook for</h1>
        <p><b>Know the 5-month rainfall forecast of municipalities with arable and cultivated land based on land cover classification of DA-BAR.</b><br>Source: SEAMS; NOAA-Climate Prediction Center</p>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <p><b>REGION</b></p>
          <div class="container">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Region IV-A: CALABARZON
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Dropdown header 1</li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header 2</li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p><b>PROVINCE</b></p>
          <div class="container">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Laguna
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Dropdown header 1</li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header 2</li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p><b>MUNICIPALITY</b></p>
          <div class="container">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Los Banos
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Dropdown header 1</li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header 2</li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-secondary">MORE</button>
  </div>
</template>