<template name="RainfallForecast">
  
  <div class="divider"></div>

  <div class="card">
    <div class="text-center">
      <h1>Expected Rainfall</h1>
      <p><b>Be proactive! Know the expected amount of rainfall on your farm for today and for the next seven days.</b><br>Maging handa! Alamin ang inaasahang dami ng ulan sa iyong taniman ngayon at sa susunod na pitong araw.<br>Source: SARAI AWS; WU</p>
    
      <div class="container">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">ISU Echague
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Dropdown header 1</li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header 2</li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
      <br>

      <button type="button" class="btn btn-secondary">MORE</button>

    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1">ONE</div>
      <div class="col-md-1">TWO</div>
      <div class="col-md-1">THREE</div>
      <div class="col-md-1">FOUR</div>
      <div class="col-md-1">FIVE</div>
      <div class="col-md-1">SIX</div>
      <div class="col-md-1">SEVEN</div>
      <div class="col-md-1">EIGHT</div>
      <div class="col-md-2"></div>
    </div>
  </div>
</template>