<template name="TwitterFeed">
  
  <div id="twitter-feed" class="max collapse-group">
    <a id="twitter-button" class="btn" data-toggle="collapse" data-target="#viewdetails">
      <span id="toggle-visibility" class="glyphicon glyphicon-chevron-down col-md-2"></span>
      <p class="col-md-2">Twitter Feed</p>
    </a>

    <div  id="viewdetails" class="collapse">
      <a class="twitter-timeline" href="https://twitter.com/projectsarai_ph"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</template>
  