<template name="CornNutrient">
  <div class="col-md-7">
    <a href="http://software.ipni.net/article/nutrient-expert">
       <img src="/img/crops/corn/corn-nutrient-expert.png" alt="Corn Nutrient Expert" id="corn-nutrient-img">
    </a>
  </div>

  <div class="col-md-5">
    <h2 class="crops-nutrient-header">
      Corn Nutrient Expert
    </h2>
    <p>Nutrient Expert for Maize is a joint project of the International Plant Nutrition Institute(IPNI) and Project SARAI. IPNI provided nutrient decision support tool. Project SARAI, on the other hand, test for its accuracy. So far, Project SARAI recorded an accuracy rate of 70% for this tool.</p>

    <a href="https://www.ipni.net/"><button type="button" class="btn btn-md text-white">GO TO IPNI WEBSITE</button></a>
  </div>

</template>
