<template name="CornLinks">
  
<!-- CULTURAL MANAGEMENT PRACTICES -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Cultural Management Practices
      </h2>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/corn/land-prep">
            <center>
            <img src="/img/crops/corn/icons/land_preparation.png" alt="" border="0">
            <br>LAND<br>PREPARATION
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/corn/pests-and-diseases">
            <center>
            <img src="/img/crops/corn/icons/pest.jpg" alt="" border="0">
            <br>PESTS AND<br>DISEASES
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/corn/growth-stages">
            <center>
            <img src="/img/crops/corn/icons/growth.jpg" alt="" border="0">
            <br>GROWTH<br>STAGES
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/corn/fertilizer">
            <center>
            <img src="/img/crops/corn/icons/fertilizer.jpg" alt="" border="0">
            <br>FERTILIZER
            </center>
          </a>
        </div>
      </div>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/corn/farm-mechanization">
            <center>
            <img src="/img/crops/corn/icons/farm_mechanization.jpg" alt="" border="0">
            <br>FARM<br>MECHANIZATION
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <!-- <a href="/crops/corn/planting-calendar"> -->
            <center>
            <img src="/img/crops/corn/icons/planting_calendar.png" alt="" border="0">
            <br>PLANTING<br>CALENDAR
            </center>
          <!-- </a> -->
        </div>

        <div class="col-md-3 col-sm-4">
          <!-- <a href="/crops/corn/rainfall-distribution"> -->
            <center>
            <img src="/img/crops/corn/icons/rainfall_distribution.jpg" alt="" border="0">
            <br>RAINFALL<br>DISTRIBUTION
            </center>
          <!-- </a> -->
        </div>
      </div>

  </div>



  <!-- POSTHARVEST AND PROCESSING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Postharvest and Processing
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="/crops/corn/processing">
        <center>
        <img src="/img/crops/corn/icons/corn_processing.png" alt="" border="0">
        <br>PROCESSING
        </center>
      </a>
    </div>

    <div class="col-md-3 col-sm-4">
      <a href="/crops/corn/grain-quality">
        <center>
        <img src="/img/crops/corn/icons/grain_quality.png" alt="" border="0">
        <br>GRAIN QUALITY
        </center>
      </a>
    </div>

    <div class="col-md-3 col-sm-4">
      <a href="/crops/corn/corn-mill">
        <center>
        <img src="/img/crops/corn/icons/corn_mill.png" alt="" border="0">
        <br>CORN MILL
        </center>
      </a>
    </div>

  </div>

  <!-- MONITORING AND FORECASTING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Monitoring and Forecasting
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="http://159.203.253.31/suitability-maps/corn-dry">
        <center>
        <img src="/img/crops/suitability_maps.png" alt="" border="0">
        <br>SUITABILITY<br>MAPS
        </center>
      </a>
    </div>

  </div>

  <!-- FOOD PRODUCTS -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Food Products
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="/crops/corn/food-products">
        <center>
        <img src="/img/crops/corn/icons/food_products.png" alt="" border="0">
        <br>FOOD<br>PRODUCTS
        </center>
      </a>
    </div>

  </div>

</template>
