<template name="CoconutLinks">
  
  <!-- CULTURAL MANAGEMENT PRACTICES -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Cultural Management Practices
      </h2>

      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/coconut/pollination">
            <center>
            <img src="/img/crops/coconut/icons/pollination.png" alt="" border="0">
            <br>POLLINATION
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- POSTHARVEST AND PROCESSING -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Postharvest and Processing
      </h2>

      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/coconut/nut-processing">
          <center>
            <img src="/img/crops/coconut/icons/nut_processing.png" alt="" border="0">
            <br>NUT<br>PROCESSING
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- MONITORING AND FORECASTING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Monitoring and Forecasting
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="http://159.203.253.31/suitability-maps/coconut">
        <center>
        <img src="/img/crops/suitability_maps.png" alt="" border="0">
        <br>SUITABILITY<br>MAPS
        </center>
      </a>
    </div>

  </div>

</template>