.figure img{
  width: 500px;
}

figcaption{
  background-color: #E5E8E8;
  width: 500px;
  color: #000000;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
}

.figure{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right:25px;
}