.divider{
  position: relative;
  border-bottom: 1px solid #D5D8DC;
  margin-bottom: 30px;
  margin-top: 30px; 
}

.text-center{
  font-family: 'Roboto', sans-serif;
  line-height: 200%;
}

.card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}