<template name="PartnerInstitutions">

  <h3 class="about-title"><b>Partner Institutions</b></h3>

  <div class = "container">  
    <div class="panel-group" id="accordion">

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsOne">
              Academic Institutions
            </a>
          </h4>
        </div>
        <div id="collapsOne" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              The program has partnered with the following academic institutions for the setting up of experiments, installation of equipment, and gathering of real-time field data. Moreover, the program envisions each SUC as an active member of the consortium which will carry out the system and continue releasing the advisories in their respective regions.
                <br>
              <br>– Isabela State University (ISU)
              <br>– Central Luzon State University (CLSU)
              <br>– Bicol University (BU)
              <br>– Mindoro State College of Agriculture and Technology (MinSCAT)
              <br>– Western Philippines University (WPU)
              <br>– West Visayas State University (WVSU)
              <br>– Cebu Technological University (CTU)
              <br>– Central Mindanao University (CMU)
              <br>– Southern Philippines Agri-Business and Marine and Aquatic School of Technology (SPAMAST)
              <br>– Cavite State University (CavSU)
              <br>– Misamis Oriental State College of Agriculture and Technology (MOSCAT)
              <br>– University of the Philippines Diliman
            </p>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Government Agencies
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              The mandated government agencies provide the necessary data, and networks for the program. They also help in directing the program in terms of what agencies to tap for the easier spread and adoption of the system.
              <br>
              <br>– Philippine Coconut Authority (PCA) – DA-Quezon Agricultural Experimentation Station (DA-QAES)
              <br>– PhilRICE
              <br>– Philippine Atmospheric, Geophysical, & Astronomical Services Administration (PAGASA)
              <br>– Bureau of Soils and Water Management (BSWM)
              <br>– Advanced Science Technology Institute (ASTI)
              <br>– LGU – Dumangas, Iloilo
              <br>– LGU – Wao, Lanao Del Sur
            </p>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Private Institutions
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              Some of these private institutions such as SMART, IBM, and IPNI have provided some services for the program for app development, and use of existing technologies. The other institutions serve as the program’s collaborators for experimental set up, and data gathering.
              <br>
              <br>– PPhilMAIZE
              <br>– International Plant Nutrition Institute (IPNI)
              <br>– SMART Communications, Inc. (SMART)
              <br>– IBM Philippines, Inc. (IBM)
              <br>– Nestle Lipa Integrated Coffee Research Station (Nestle) (NLICC)
              <br>– World Agroforestry Center (ICRAF)
              <br>– Puentespina Farms
            </p>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              Cooperative
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              TAMCO is one of the program’s partner for the research activities on coffee.
              <br>
              <br>– Talaorani Multipurpose Cooperative (TAMCO)
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>
