<template name="ProjectLeaders">

  <h3><b>Project Leaders</b></h3>

  <div class="container-projects leaders">
    <img src="img/project-leaders/espaldon.jpg" class="leader-img">
    <h3>Dr. Ma. Victoria O. Espaldon</h3>
    <h4>Program Leader</h4>
  </div>

  <div class="container container-projects">
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/lansigan.jpg" class="leader-img">
      <h3>Dr. Felino P. Lansigan</h3>
      <h4>Project 1 Leader</h4>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/salazar.jpg" class="leader-img">
      <h3>Dr. Artemio M. Salazar</h3>
      <h4>Project 2 Leader</h4>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/khan.jpg" class="leader-img">
      <h3>Prof. Concepcion L. Khan</h3>
      <h4>Project 3 Leader</h4>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/eslava.jpg" class="leader-img">
      <h3>Dr. Decibel V. Faustino-Eslava</h3>
      <h4>Project 4 Leader</h4>
    </div>
  </div>

</template>
