<template name="CMSNavbar">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid col-sm-10">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SARAI Admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/admin">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/admin/main">Main
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/main-top-header">Top Header</a></li>
          <li><a href="/admin/main-header">Header</a></li>
          <li><a href="/admin/main-banner">Banner</a></li>
          <li><a href="/admin/main-download-forecast">Weather Forecast</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/admin/about-us">About Us
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/about-us-title">About Us Title</a></li>
          <li><a href="/admin/about-us-banner">About Us Banner</a></li>
          <li><a href="/admin/about-us-content">Our Story</a></li>
          <li><a href="/admin/about-us-projects">Projects</a></li>
          <li><a href="/admin/about-us-leaders">Project Leaders</a></li>
          <li><a href="/admin/about-us-partners">Partner Institutions</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/admin/weather">Weather
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/weather">Weather Stations</a></li>
          <li><a href="/admin/weather-settings">Weather Settings</a></li>
        </ul>
      </li>
      <li><a href="/admin/services">Services</a></li>
    </ul>
  </div>
  <div class="col-sm-2">
    {{ > loginButtons }}
  </div>
</nav>
</template>