<template name="MainFooter">
  <div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3 class="title">About SARAI</h3>
        <br/>
        Project SARAI aims to develop a national crop forecasting and monitoring system for first six priority crops: rice, corn, banana, coconut, coffee, cacao.<br />
        <img src="/img/dost-pcaarrd-uplb.png" height="80px" style="margin-top: 20px;" />
      </div>

      <div class="col-md-4 col-sm-4 hidden-xs">
        <h3 class="title">Stay Connected</h3>
        <br/>

        <div class="footer-contact-line">
          <div class="footer-contact-icon">
            <i class="material-icons">call</i>
          </div>
          <span>
            +63 (049) 536 3080, 2836
          </span>
        </div>


        <div class="footer-contact-line">
          <div class="footer-contact-icon">
            <i class="material-icons">email</i>
          </div>
          <span>
            sarai@uplb.edu.ph
          </span>
        </div>

        <div class="footer-contact-line">
          <div class="footer-contact-icon">
            <i class="material-icons">location_on</i>
          </div>
          <span>
            SESAM UPLB, College, Laguna Philippines 4031
          </span>
        </div>

      </div>

      <div class="col-md-4 col-sm-4 hidden-xs">
        <h3 class="title">Get Involved</h3>
        <br/>

        <a href="https://www.facebook.com/projectsarai/">
          <div class="get-involved-icon">
            <i class="fa fa-facebook"></i>
          </div>
        </a>

        <a href="https://twitter.com/ProjectSARAI">
          <div class="get-involved-icon">
            <i class="fa fa-twitter"></i>
          </div>
        </a>

        <a href="https://www.youtube.com/channel/UCJtzNfVmoqFZGCF326VaTZw">
          <div class="get-involved-icon">
            <i class="fa fa-youtube-play"></i>
          </div>
        </a>

      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 copyright">
        <span>Copyright 2016 - Project SARAI</span>
      </div>

    </div>
  </div>
</div>
</template>
