<template name="CoffeeLinks">
  
  <!-- CULTURAL MANAGEMENT PRACTICES -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Cultural Management Practices
      </h2>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/industry">
            <center>
            <img src="/img/crops/coffee/icons/industry.png" alt="" border="0">
            <br>INDUSTRY
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/preparation">
            <center>
            <img src="/img/crops/coffee/icons/preparation.png" alt="" border="0">
            <br>PREPARATION
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/varieties">
            <center>
            <img src="/img/crops/coffee/icons/varieties.png" alt="" border="0">
            <br>VARIETIES
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/management">
            <center>
            <img src="/img/crops/coffee/icons/management_practices.png" alt="" border="0">
            <br>MANAGEMENT<br>PRACTICES
            </center>
          </a>
        </div>
      </div>

      <!-- ROW -->
      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/pest-management">
            <center>
            <img src="/img/crops/coffee/icons/pest_management.png" alt="" border="0">
            <br>PEST<br>MANAGEMENT
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/water-management">
            <center>
            <img src="/img/crops/coffee/icons/water_management.png" alt="" border="0">
            <br>WATER<br>MANAGEMENT
            </center>
          </a>
        </div>

        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/harvesting">
            <center>
            <img src="/img/crops/coffee/icons/harvestingcoffee.png" alt="" border="0">
            <br>HARVESTING
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- POSTHARVEST AND PROCESSING -->
  <div class="container crops-links">

      <h2 class="col crops-link-header">
        Postharvest and Processing
      </h2>

      <div class="crops-link-row row">
        <div class="col-md-3 col-sm-4">
          <a href="/crops/coffee/processing">
            <center>
            <img src="/img/crops/coffee/icons/processing.png" alt="" border="0">
            <br>PROCESSING
            </center>
          </a>
        </div>
      </div>

  </div>

  <!-- MONITORING AND FORECASTING -->
  <div class="container crops-links">

    <h2 class="col crops-link-header">
      Monitoring and Forecasting
    </h2>

    <div class="col-md-3 col-sm-4">
      <a href="http://159.203.253.31/suitability-maps/coffee">
        <center>
        <img src="/img/crops/suitability_maps.png" alt="" border="0">
        <br>SUITABILITY<br>MAPS
        </center>
      </a>
    </div>

  </div>

</template>