.crops-banner {
  width: 100%;
  position: relative;
}

.crops-main-content > div {
  width: 80%;
}

div.crops-title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(1, 1, 1, 0.5);
  text-align: left;
  padding-left: 4.5em;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h1.crops-title {
  font-size: 45px;
}

div.crops-about, .crops-links {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 170px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-align: left;
}

div.crops-about > div > h2, .crops-link-header, .crops-nutrient-header {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 30px;
}

div.crops-about > div > h3 {
  font-size: 34px;
  line-height: 40px;
}

div.crops-about > div > p {
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 24px;
}

.corn-trivia {
  height:100%;
}

#corn-nutrient-img {
  width: 100%;
}

.crops-link-row {
  margin-bottom: 30px;
}

div.crops-links > div > a {
  text-align: center;
}
